regex
pandas
dash
dash-html-components
dash-core-components
dash-bootstrap-components
google
google-genai
google-api-core
google-auth
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-core
google-cloud-resource-manager
google-cloud-speech
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
grpc-google-iam-v1
grpcio
pydub
PyAudio
SpeechRecognition
streamlit
vertexai